.contacts {
    display: flex;
    height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    background: $whiteGreenColor;
}

.contacts__container {
    height: auto;
    width: auto;
    display: flex;
}

.contacts__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contacts__content h1 {
    color: $orangeColor;
    font-size: 3.5rem;
    margin: 40px;
}

.contacts__content h2 {
    color: $blackColor;
    font-size: 1.9rem;
}

.contacts__content p {
    color: $orangeColor;
    font-size: 1.4rem;
}

// --- SOCIAL MEDIA -- //

.social__media--menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
   height: auto;
   padding-top: 20px;
}

.social__media--item {
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
}

.social__media--links {
  cursor: pointer ;
  color: $blackColor;
  height: 100%;
  padding: 0 30px;
  font-size: 2rem;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
  display: inline-block;
}

.social__media--links:hover {
    color: $orangeColor;
    transform: scale(1.2);
}
