.main {
  background: linear-gradient(to bottom, #CBD2A4, #9A7E6F);
  display: flex;
  height: 120vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
}


.main__container {
  z-index: 1; 
  color: #141414;
  max-width: 1300px;
  width: 100%;
  position: relative;
  
}

.main__content {
  z-index: 1;
  position: relative;
  margin-bottom: 500px;

}

.main__content h1 {
  color: #ff761b;
  font-size: 4rem;
  font-weight: 400;
  top: -40%;
}


.main__content p {
  font-size: 2rem;
  margin-top: 50px;
  font-weight: 200;
  color: $whiteGreenColor;
}

.main__img--arrow {
  display: flex;
  position: absolute;
  padding-top: 300px;
}


/*-- SERVICE SECTION //about me -- */
.service {
  background: linear-gradient(to bottom, #9A7E6F, #CBD2A4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  width: 100vw;
}
.service__container {
  height: 120vh;
}
.service__content h1 {
  color: #ff761b;
  font-size: 4rem;
}
.service__content p {
  color: #E9EED9;
  font-size: 1.5rem;
  width: 60vw;
}
.service__content b {
  color: $orangeColor;
  font-size: 1.6rem;
  font-weight: 300;
}

.service__img {
  width: 350px;
}


#profilfoto {
  position: relative;
  align-items: center;
  border-style:inset;
  border-color: #ff761b;
  border-width: 10px;
  border-radius: 15px;
  margin-top: 30px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

}




/*Projects section*/
.projects {
  display: flex;
  height: 100vh;
  background: $lightGreenColor;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to bottom, #CBD2A4, $whiteGreenColor);
}
.projects__video--container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: auto;
  width: auto;
  z-index: 1;
}



.projects__container {
position: relative;
max-width: 1300px;
width: 100%;
}

.projects__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.projects__content h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: $orangeColor;
  font-weight: 200;
}

.projects__content h2 {
font-size: 2rem;
color: $blackColor;
}


.projects__content p {
  font-size: 1.5rem;
  text-align: center;
  color: $orangeColor;
  width: 50%;
}

.projects__video--container {
display: flex;
border-radius: 15px;
border: 5pxsolid;
overflow: hidden;
}
