//MEDIA QUIRES-- NAVBAR--




@media screen and (max-width: 430px) {
  .navbar {
    height: 50px; /* Reduce navbar height */
    font-size: 0.9rem; /* Reduce overall font size */
  }

  .navbar__container {
    padding: 0 30px;
  }

  #navbar__logo {
    font-size: 1.5rem; /* Make logo smaller */
  }

  .navbar__menu {
    display: none; /* Hide menu for now */
  }

  .navbar__btn {
    display: none; /* Hide button */
  }
  



}



//HERO SECTION//


@media (max-width: 1024px) {
  .main {
    height: 100vh;
  }
  .main__content h1, .service__content h1, .projects__content h1 {
    font-size: 3rem; /* Reduced font size */
  }
  .main__content p, .service__content p, .projects__content p {
    font-size: 1.6rem; /* Slightly smaller for readability */
  }
}

@media (max-width: 768px) {
  .main, .service, .projects {
    height: auto; /* Adjust height for mobile scrolling */
    padding: 20px; /* Add padding for better readability */
  }
  
  .main__content h1, .service__content h1, .projects__content h1 {
    font-size: 2.5rem;
  }
  
  .main__content p, .service__content p, .projects__content p {
    font-size: 1.4rem;
  }
  
  .projects__video--container, .main__img--arrow {
    padding-top: 0;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  
  .service__content p {
    width: 90%; /* Adapt width for mobile */
  }
  
  #profilfoto {
    width: 90%;
  }
  
  table {
    font-size: 0.9rem; /* Smaller font for tables */
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .main__content h1, .service__content h1, .projects__content h1 {
    font-size: 2rem;
  }
  .main__content p, .service__content p, .projects__content p {
    font-size: 1.2rem;
  }

  .projects__content p, .service__content p {
    width: 100%;
  }

  #profilfoto {
    width: 80%;
  }
  
  .projects__video--container {
    width: 50%;
  }
  table {
    width: 100%;
  }
  th {
    width: 100%;
  
  }
  td {
    width: 100%;
  }
}