@media (max-width: 1024px) {
  .main__content h1 {
    font-size: 5rem;
  }
  .main__content p {
    font-size: 3rem;
  }

  .service__content h1 {
    font-size: 4rem;
  }
  .service__content p {
    font-size: 1.5rem;
  }

  .service__content b {
    font-size: 2rem;
  }
  .projects__video--container {
    width: 660px;
  }
  .contacts__content h1 {
    font-size: 3.5rem;
  }
  .contacts__content h2 {
    font-size: 2.5rem;
  }
  .social__media--links {
    text-decoration: underline;
  }
  .footer__container h2 {
    font-size: 3.5rem;
  }
  .footer__links {
    font-size: 3rem;
  }
}
@media (max-width: 767px) {
  .navbar__menu {
    display: none;
    flex-direction: column;
    background-color: $lightGreenColor;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: (4px);
    position: fixed;
    right: 0;
    top: 10%;
  }

  .navbar__checkbox:checked + .navbar__icon + .navbar__menu {
    display: flex;
  }

  .navbar__icon {
    display: block;
    font-size: 3rem;
    color: $orangeColor;
    cursor: pointer;
  }

  .navbar__checkbox {
    display: none;
  }

  .main__content h1 {
    font-size: 4rem;
  }
  .main__content p {
    font-size: 2rem;
    width: auto;
  }

  .main__img--arrow {
    margin-top: 50px;
  }
  .service__content {
    margin-top: 20px;
  }

  .service__content h1 {
    font-size: 3rem;
  }

  .service__content p {
    font-size: 1.5rem;
    margin: 0 auto;
  }

  .service__content b {
    font-size: 1.5rem;
  }

  .service__img {
    width: 260px;
    height: 420px;
  }

  .projects__content h1 {
    font-size: 3rem;
  }

  .projects__content p {
    font-size: 1rem;
  }

  td,
  th {
    font-size: 1.8rem;
    margin: 0;
    width: 100%;
  }
  table {
    margin: 0;
    padding: 0;
    margin-right: 10px;
  }

  .projects__video--container {
    max-width: 100%;
    width: 560px;
    margin: 0 auto;
    padding: 0;
  }

  .contacts__content h1 {
    font-size: 2rem;
  }

  .contacts__content h2 {
    font-size: 1rem;
  }

  .contacts__content p {
    font-size: 1.5rem;
  }

  .social__media--links {
    font-size: 2rem;
  }

  .footer__container h2 {
    font-size: 2rem;
    margin-top: 20px;
  }

  .footer__links {
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  .navbar__menu {
    display: none;
    flex-direction: column;
    position: fixed;
    gap: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: (4px);
    top: 10%;
  }

  .navbar__checkbox:checked + .navbar__icon + .navbar__menu {
    display: flex;
  }

  .navbar__icon {
    display: block;
    font-size: 3rem;
    color: $orangeColor;
    cursor: pointer;
    top: 0;
  }

  .navbar__checkbox {
    display: none;
  }

  .main__content h1 {
    font-size: 3rem;
  }
  .main__content p {
    font-size: 1.5rem;
    width: auto;
  }

  .service__content h1 {
    font-size: 3rem;
  }

  .service__content p {
    font-size: 0.9rem;
  }

  .service__content b {
    font-size: 1rem;
  }

  .service__img {
    width: 260px;
    height: 420px;
  }

  .projects__content h1 {
    font-size: 3rem;
  }

  .projects__content p {
    font-size: 0.9rem;
  }
  table {
    margin: 0;
    padding: 0;
    width: 300px;
  }

  th {
    font-size: 0.9rem;
    margin: 0;
  }

  .projects__video--container {
    width: 330px;
    padding: 0;
    margin: 0 auto;
  }

  .contacts__content h1 {
    font-size: 2rem;
  }

  .contacts__content h2 {
    font-size: 1rem;
  }

  .contacts__content p {
    font-size: 1.5rem;
  }

  .social__media--links {
    font-size: 2rem;
  }

  .footer__container h2 {
    font-size: 2rem;
  }

  .footer__links {
    font-size: 1rem;
    margin: 1px;
  }
}
